:root {
    height: 100%;
    width: 100%;
    --bg: #131416;
    --bg-accent: #757575;
    --text-color: #05e1fe;
    --just-white: #fff;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: var(--bg-accent);
}
.header {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: var(--bg);
}
.header .header--title {
    position: absolute;
    width: 100px;
    top: 40%;
    left: calc(50% - 50px);
    letter-spacing: 2px;
    color: var(--text-color);
    font-weight: 300;
}
.header .header--img {
    position: absolute;
    height: 50px;
    width: 50px;
    top:calc(100% - 25px);
    left: calc(50% - 25px);
    background-image: url('./assets/react.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
}
.about--card {
    width: 80%;
    height: 80%;
    min-width: 280px;
    max-width: 500px;
    background: var(--just-white);
    border-radius: 8px;
    border-top: solid 5px var(--text-color);
    border-bottom: solid 5px var(--text-color);
}
.card--header {
    text-align: center;
}
.card--title {
    font-weight: 300;
    font-size: 28px;
}
.card--body {
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow-x: hidden;
}
.card--info {
    width: 90%;
    font-weight: 300;
}
.banner {
    width: 100%;
    height: 250px;
    background-image: url('https://www.imaginaformacion.com/wp-content/uploads/2017/01/banner-react-f.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
}
.table--container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}
.table--images {
    display: grid;
    height: 500px;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    min-width: 300px;
    max-width: 800px;
}
.image-1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-1 img {
    width: 90%;
    height: 90%;
}
.image-1:before {
    content: '';
}

@media (max-width: 425px) {
    .table--images {
        grid-template-columns: repeat(1, 1fr);
    }
}